body{
    overflow: hidden;
}

.containers{
    height: calc(~'100vh - 50px');
}

.header{
    height: 50px;
    background-color: #073c65;
    padding-left: 24px;
}

.ant-menu-dark, .ant-menu-dark .ant-menu-sub{
    background-color: #073c65;
}

.ant-menu-dark.ant-menu-inline .ant-menu-item{
    &:first-of-type{
        margin-top: 0;
    }
}

.ant-table-wrapper{
    margin-top: 12px;
}

.pointer{
    cursor: pointer;
    user-select: none;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.form-default{
    max-width: 600px;
    .form-title{
        font-size: 20px;
        color: #000;
        margin-bottom: 16px;
    }
}